# User-specific files
*.user
*.suo

# Build
[Bb]in
[Oo]bj
*.xap
[Pp]ublish

# Other files
*.dotCover
_ReSharper.*
StyleCop.*
/.vs/Dapper.Extensions.Linq/v16/TestStore/0/testlog.manifest
/.vs/Dapper.Extensions.Linq/v16/TestStore/0/001.testlog
