<?xml version="1.0" encoding="utf-8"?>
<!-- Coverlet.Collector -->
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <!-- <MaxCpuCount>1</MaxCpuCount>-->
    <!-- Path relative to directory that contains .runsettings file-->
    <ResultsDirectory>./TestResults</ResultsDirectory>
    <!-- x86 or x64 -->
    <!-- You can also change it from the Test menu; choose "Processor Architecture for AnyCPU Projects" -->
    <!-- <TargetPlatform>x86</TargetPlatform>-->
    <!-- Framework35 | [Framework40] | Framework45 -->
    <!-- <TargetFrameworkVersion>FrameworkCore10</TargetFrameworkVersion> -->
    <!-- <Framework>FrameworkCore10</Framework> -->
    <!-- Path to Test Adapters -->
    <!-- <TestAdaptersPaths>%SystemDrive%\Temp\foo;%SystemDrive%\Temp\bar</TestAdaptersPaths>-->
    <!-- TestSessionTimeout was introduced in Visual Studio 2017 version 15.5 -->
    <!-- Specify timeout in milliseconds. A valid value should be greater than 0 -->
    <!-- <TestSessionTimeout>10000</TestSessionTimeout>-->
    <!-- <consoleLoggerParameters>PerformanceSummary,Summary,ShowTimestamp</consoleLoggerParameters>-->
    <!-- <logger>trx</logger>-->
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- <Format>json,cobertura,lcov,teamcity,opencover</Format> -->
          <Format>cobertura</Format>
          <Exclude>[coverlet.*.tests?]*,[*]Coverlet.Core*</Exclude>
          <!-- [Assembly-Filter]Type-Filter -->
          <!--<Include>[coverlet.*]*,[*]Coverlet.Core*</Include>-->
          <!-- [Assembly-Filter]Type-Filter -->
          <!-- <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute,TestSDKAutoGeneratedCode</ExcludeByAttribute>-->
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,TestSDKAutoGeneratedCode</ExcludeByAttribute>
          <!-- Below an example to use with custom attribute -->
          <!-- <ExcludeByAttribute>^DapperExtensions\.Attributes\.sExcludeFromCodeCoverageAttribute$</ExcludeByAttribute>-->
          <!--<ExcludeByFile>**/AutoGenerated*.*,**/*.Test.Entities/*.*</ExcludeByFile>-->
          <!-- Absolute or relative file paths -->
          <!-- <IncludeDirectory>../dir1/,../dir2/,</IncludeDirectory> -->
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>true</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <!-- <InProcDataCollectionRunSettings>
    <InProcDataCollectors>
      <InProcDataCollector 
		assemblyQualifiedName="Coverlet.Collector.DataCollection.CoverletInProcDataCollector, coverlet.collector, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null" 
		friendlyName="XPlat Code Coverage" 
		enabled="True" 
		codebase="coverlet.collector.dll" />
    </InProcDataCollectors>
  </InProcDataCollectionRunSettings> -->
</RunSettings>
