<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.15.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.23" targetFramework="net48" />
  <package id="SSH.NET" version="2020.0.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
</packages>