<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net40" />
  <package id="IBM.Data.DB2" version="10.0.5.5" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" />
  <package id="MySql.Data" version="6.5.4" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="odp.net.managed" version="121.1.1" targetFramework="net40" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="System.Data.SQLite" version="1.0.82.0" targetFramework="net40" />
</packages>